body {
    background-image: url("./images/coffee-background.jpg");
    background-size: 100%;
   
 }

 .main {

    width: 560px;
    height: 325px;
    margin-left: 280px;
 }

 #header {

    margin-top: 10px;
    height: 100px;
    color: gainsboro;
    font-family: Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.form-control {

    margin-left: 500px;
   
   
}

h4 {

    color: red;
    

}


#newgif {

    margin-left: 350px;
    margin-top: 100px;
}

.cartoon-art {

    width: 425px;
    height: 300px;

}
